.App{
    height: 100%;
    &__navbar-wrapper{
        position: absolute;
        width: 100%;
        top: 0;
    }
    &__main-content-wrapper{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        position: absolute;
        width: 100%;
        margin-top: 80px;
    }
}